<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生登録</title>
<body>
<style>
  form dl {
    display: flex;
  }
  form dl dt {
    width: 150px;
  }
</style>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}"
      method="post">
  <dl>
    <dt for="name">名前</dt>
    <dd><input type="text" id="name" th:field="*{student.fullName}" required/></dd>
  </dl>
  <dl>
    <dt for="furigana">かな名</dt>
    <dd><input type="text" id="furigana" th:field="*{student.furigana}" required/></dd>
  </dl>
  <dl>
    <dt for="nickName">ニックネーム</dt>
    <dd><input type="text" id="nickName" th:field="*{student.nickname}" required/></dd>
  </dl>
  <dl>
    <dt for="email">メールアドレス</dt>
    <dd><input type="text" id="email" th:field="*{student.emailAddress}" required/></dd>
  </dl>
  <dl>
    <dt for="area">地域</dt>
    <dd><input type="text" id="area" th:field="*{student.area}" required/></dd>
  </dl>
  <dl>
    <dt for="age">年齢</dt>
    <dd><input type="text" id="age" th:field="*{student.age}"/></dd>
  </dl>
  <dl>
    <dt for="sex">性別</dt>
    <dd><input type="text" id="sex" th:field="*{student.sex}"/></dd>
  </dl>
  <dl>
    <dt for="remark">備考</dt>
    <dd><input type="text" id="remark" th:field="*{student.remark}"/></dd>
  </dl>
  <dl th:each="course, stat : *{studentsCourses}">
    <dt for="course" th:for="studentCourse.__${stat.index}__.course">受講コース名</dt>
    <dd><input type="text" id="course" th:id="studentCourse.__${stat.index}__.course"
               th:field="*{studentsCourses[__${stat.index}__].course}"/></dd>
  </dl>
  <dl>
    <dt>
      <button type="submit">登録</button>
    </dt>
  </dl>
</form>
</body>
</html>