<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生更新</title>
<body>
<style>
  form div {
    display: flex;
  }
  form div label {
	  width: 150px;
  }
  div {
  margin-bottom: 8px;
  }
</style>
<h1>受講生更新</h1>
<form th:action="@{/updateStudent(id=${studentDetail.student.id})}" th:object="${studentDetail}"
      method="post">
  <div>
    <label for="name">名前</label>
    <input type="text" id="name" th:field="*{student.fullName}" required/>
  </div>
  <div>
    <label for="furigana">かな名</label>
    <input type="text" id="furigana" th:field="*{student.furigana}" required/>
  </div>
  <div>
    <label for="nickName">ニックネーム</label>
    <input type="text" id="nickName" th:field="*{student.nickname}" required/>
  </div>
  <div>
    <label for="email">メールアドレス</label>
    <input type="text" id="email" th:field="*{student.emailAddress}" required/>
  </div>
  <div>
    <label for="area">地域</label>
    <input type="text" id="area" th:field="*{student.area}" required/>
  </div>
  <div>
    <label for="age">年齢</label>
    <input type="text" id="age" th:field="*{student.age}" required/>
  </div>
  <div>
    <label for="sex">性別</label>
    <input type="text" id="sex" th:field="*{student.sex}" required/>
  </div>
  <div>
    <label for="remark">備考欄</label>
    <input type="text" id="remark" th:field="*{student.remark}" required/>
  </div>
  <div>
    <label for=course>コース名</label>
    <input type="text" id="course" th:field="*{studentsCourses[0].course}" required/>
  </div>
  <div>
    <button type="submit">登録</button>
  </div>
</form>
</body>
</html>